
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<div class="container full">
    <div class="imagen">
        <img src="assets/imagenes/logo.jpg" alt="100" height="120" width="300">

    </div>

    <div class="row v-align justify-content-center">
        <div class="col-12">
            <mat-card class="filtros">
                <div class="col-2">
                    Rating:
                </div>
                <div class="col-2 mx-2">
                    <select  class="form-control" id="choices" (change)="ChangeRank($event)">
                        <option disabled>--</option>
                        <option *ngFor="let rank of set" [value]="rank">{{rank}}</option>
                    </select>
                </div>
                
            </mat-card>
            <mat-card class="filtros">
                <div class="col-4 mx-3">
                    <div class="boton">
                        <button mat-raised-button color="primary" routerLink="/categorias">Categorias</button>
                    </div>
                </div>
                <div class="col-4 mx-3">
                    <div class="boton">
                        <button mat-raised-button color="accent" routerLink="/favoritas">Api REST</button>
                    </div>
                </div>
            </mat-card>
            <mat-card class="inicio my-2">
                <table class="my-3">
                    <th>Titulo</th>
                    <th>Rating</th>
                    <th>Duracion</th>
                    <th>Fase</th>
                    <tr *ngFor="let pelicula of data">
                        <th>{{pelicula.titulo}}</th>
                        <th>{{pelicula.rating}} /10</th>
                        <th>{{pelicula.duracion}} min</th>
                        <th>{{pelicula.fase}}</th>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>
