@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');

.container {
    background: rgb(180, 0, 0);
    background: linear-gradient(0deg, rgb(95, 1, 1) 0%, rgb(0, 0, 0) 100%);
}

.full {
    min-height: 100vh;
}

button {
    align-items: center;
    justify-content: center;
}

mat-list-item .next {
    margin-left: 49%;
    margin-top: 15px;
    margin-bottom: 15px;
}



mat-list-item {
    border: 1px solid #ffffff;
    background-color: #000000;
    margin-top: 10px;
    border-radius: 5%;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: x-large;

}

.lista {
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-right: 11px;
    padding-bottom: 50px;
    padding-left: 10px;
}



.v-align {
    padding: 5vh 0;
    justify-content: center;
    text-align: center;
}

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.mat-toolbar.mat-primary {
    border: 1px solid #3a3a3a;
    justify-content: center;
    text-align: center;
    background: #000000;
    color: #fff;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.example-spacer {
    flex: 1 1 auto;
}